day5-manage-users/src/main/app/day5-manage-users.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
   
    <flow name="day5-manage-usersFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/manage-users" doc:name="HTTP"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.query.params'.utype=='n']">
                <flow-ref name="registrationSub_Flow" doc:name="registrationSub_Flow"/>
            </when>
            <when expression="#[message.inboundProperties.'http.query.params'.utype=='a']">
                <flow-ref name="adminSub_Flow" doc:name="adminSub_Flow"/>
            </when>
            <otherwise>
                <flow-ref name="authenticationSub_Flow" doc:name="authenticationSub_Flow"/>
            </otherwise>
        </choice>
        <logger message="Done!" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="day5-manage-usersFlow1">
        <quartz:inbound-endpoint jobName="userdata" repeatInterval="120000" responseTimeout="10000" doc:name="Scheduler">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <logger message="Scheduler started at #[server.dateTime]" level="INFO" doc:name="Logger"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into users(regid,userid,pwd) select regid,userid,pwd from registrations;]]></db:parameterized-query>
        </db:insert>
    </flow>
</mule>
