day2-basics1/src/main/app/day2-basics1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="day2-basics1Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/basics1" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.name]! Welcome to Mule Training and today date is: #[server.dateTime]" doc:name="Set Payload"/>
        <set-property propertyName="mtype" value="Greeting" doc:name="Property"/>
        <logger message="#[message.outboundProperties.mtype]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="day2-basics1Flow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/scopes" doc:name="HTTP"/>
        <set-variable variableName="mfvar" value="I am flow variable in M/F" doc:name="Variable"/>
        <set-session-variable variableName="svar" value="I am session variable in M/F" doc:name="Session Variable"/>
        <message-properties-transformer scope="session" doc:name="Message Properties">
            <add-message-property key="mtype" value="normal payload"/>
            <add-message-property key="mtime" value="#[server.dateTime.format('dd-MM-yy')]"/>
        </message-properties-transformer>
        <flow-ref name="day2-basics1Sub_Flow" doc:name="day2-basics1Sub_Flow"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="scopesQ" doc:name="VM"/>
    </flow>
    <flow name="day2-basics1Flow2">
        <vm:inbound-endpoint exchange-pattern="one-way" path="scopesQ" doc:name="VM"/>
        <set-payload value="#[flowVars.mfvar], #[sessionVars.svar]" doc:name="Set Payload"/>
        <logger message="#[flowVars.mfvar], #[sessionVars.svar] " level="INFO" doc:name="Logger"/>
    </flow>
    <sub-flow name="day2-basics1Sub_Flow">
        <set-payload value="#[flowVars.mfvar], #[sessionVars.svar]" doc:name="Set Payload"/>
        <logger message="#[flowVars.mfvar], #[sessionVars.svar]" level="INFO" doc:name="Logger"/>
    </sub-flow>
</mule>
