day7-dealer-rs-consumer/src/main/app/day7-dealer-rs-consumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8083" basePath="/Products" doc:name="HTTP Request Configuration"/>
    <flow name="day7-dealer-rs-consumerFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/estore" doc:name="HTTP"/>
        <logger message="Consuming dealer rest service" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/list" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="name" value="#[message.inboundProperties.'http.query.params'.name]"/>
            </http:request-builder>
        </http:request>
        <logger message="Done!" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
